:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --sub-text-color: #fff;
  --accent-color: red;

  --main-text-color: #000;

  --first-brand-color: #f6422d;
  --second-brand-color: #ff9800;
  --third-brand-color: #ffec18;

  --main-font: 'Open Sans Condensed';
  --title-font: 'Encode Sans SC Expanded';

  font-size: 62.5%;
}
